[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-oidc-provider = "*"
django-stubs = "*"
django-ratelimit = "*"
djangorestframework-api-key = "==2.*"

[dev-packages]

[requires]
python_version = "3.11"
